@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  // border: 1px solid #ccc;
}

.hover-display {
  &:hover {
    .hidden {
      display: block;
    }
  }
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.2);
}

.hover-display-parent {
  &:hover {
    &.hidden {
      display: none;
    }
    & + .hidden {
      display: none;
    }
  }
}

.leading-15 {
  line-height: 4rem;
}

// admin
#root {
  .MuiAppBar-root,
  .RaLayout-contentWithSidebar-3 > .MuiDrawer-root {
    display: none;
  }

  .MuiPaper-elevation1 {
    box-shadow: none;
  }
  .RaLayout-root-1,
  .RaLayout-content-4 {
    background-color: #fff;
  }
}
#mainView {
  min-height: 600px;
}
#mainView #root > div {
  width: 1080px;
  margin: 0 auto;
}
#mainView #root > form,
#mainView #root > .form {
  width: 100%;
  margin: 0 auto;
}

// mui
.portal_menu_item {
  width: 100%;
  display: block !important;
  padding: 10px !important;
}

.portal_menu_icon {
  vertical-align: middle !important;
}
