html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #121212;
}

img[src=""]{
  opacity: 0;
  font-size: 30px;
  color: #000;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 100px;
  background: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

main {
  width: 100%;
  overflow: hidden;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 36px;
}

.icon2 {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 24px;
}

// admin
#root {
  .MuiAppBar-root,
  .RaLayout-contentWithSidebar-3 > .MuiDrawer-root {
    display: none;
  }

  .MuiPaper-elevation1 {
    box-shadow: none;
  }
  .RaLayout-root-1,
  .RaLayout-content-4 {
    background-color: #fff;
  }
}
#mainView {
  min-height: 600px;
}
#mainView #root > div {
  width: 1080px;
  margin: 0 auto;
}
#mainView #root > form,
#mainView #root > .form {
  width: 100%;
  margin: 0 auto;
}
